@model IEnumerable<BaiThiEADFront.ServiceReference2.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Ajax.BeginForm("IndexAjax", "Employee",
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "Get",
                    OnFailure = "failed",
                    LoadingElementId = "ajax-loader",
                    UpdateTargetId = "results",
                }))
{
    <p>
        Search: @Html.TextBox("searchString")
        <input type="submit" value="Search" id="btnSubmit" />
    </p>
}

<table class="table" id="results">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Department)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Salary)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Phone)
    </td>
</tr>
    }

</table>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}
